{% load static %}

<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>One Minute CV</title>

         <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'login_signup form/css/style.css' %}">

        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!-- MESSAGES CSS -->
        <link rel="stylesheet" href="{% static 'css/messages.css' %}">

    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Forgot your password?</header>
                     <p class="text-center" style="font-size: 14px; margin-top: 10px; color: gray">
                         Please enter your email address and we will send you a link to reset your password.
                     </p>

                    <form action="{% url 'reset_password' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field input-field">
                            <input type="password" name="password" placeholder="Enter your new password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field input-field">
                             <input type="password" name="confirm_password" placeholder="Confirm your password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field" style="margin-bottom: 25px;">
                            <button>Submit</button>
                        </div>
                    </form>
                </div>

            </div>

            <div>
                {% include 'includes/alerts.html' %}
            </div>


        </section>

        <!-- JavaScript -->
        <script src="{% static 'login_signup form/js/script.js' %}"></script>
    </body>
</html>