.btn-outline-primary {
    font-size: 10px;
}

.final-element {
    margin-bottom: 70px;
}

@media (max-width: 992px) {
    .btn-outline-primary {
        font-size: 8px;
        padding: 0.5em;
    }
}