{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
      <title>Document</title>

      <link rel="stylesheet" href="{% static 'cvapp/create_cv.css' %}" />
  </head>

  <body>
    <div class="row">
      <div class="col">
        <div class="left_side">

            <!-- USER INFORMATION -->
          <form>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Wanted Job Title</label>
                <input
                  type="text"
                  class="form-control"
                  name="job_title"
                  placeholder="e.g. Developer"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label>First Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="first_name"
                />
              </div>

              <div class="form-group col-md-6">
                <label>Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="last_name"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                />
              </div>

              <div class="form-group col-md-6">
                <label>Phone</label>
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label>Country</label>
                <input
                  type="text"
                  class="form-control"
                  name="country"
                />
              </div>

              <div class="form-group col-md-6">
                <label>City</label>
                <input
                  type="text"
                  class="form-control"
                  name="city"
                />
              </div>

              <div class="form-group col-md-6">
                <label>Address</label>
                <input
                  type="text"
                  class="form-control"
                  name="address"
                />
              </div>

              <div class="form-group col-md-6">
                <label>Driving License</label>
                <input
                  type="text"
                  class="form-control"
                  name="driving_license"
                />
              </div>
            </div>
          </form>
        </div>

          <!-- PROFESSIONAL SUMMARY -->
        <div class="section">
          <h3>Professional Summary</h3>
          <label class="summary-help">Write short senteces to make reader interested. Mention your experience, biggest achievements, qualities and skills.</label>
          <div class="row main-text">
            <div class="col1">
                <div class="second box">
                  <button type="button"
                    onclick="f2(this)">
                    <i class="fa-solid fa-bold"></i>
                  </button>
                  <button type="button" onclick="f3(this)">
                    <i class="fa-solid fa-italic"></i>
                  </button>
                  <button type="button" onclick="f4(this)">
                  <i class="fa-solid fa-underline"></i>
                </button>
                </div>

                <div class="fourth box">
                  <button type="button" onclick="f8(this)">
                    aA
                  </button>
                  <input type="color" onchange="f10(this)">
                </div>
            </div>
            <br>

            <div class="col2">
              <textarea id="textarea" placeholder="Your text here"></textarea>
            </div>
          
          </div>
        </div>
        <label>Write to 250 characters max.</label>

        <div class="section">

            <!-- EXPERIENCE -->
          <h3>Experience</h3>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Job Title</label>
                    <input
                      type="text"
                      class="form-control"
                      name="experience_job_title"
                    />
                  </div>
                <div class="form-group col-md-6">
                    <label>Employer</label>
                    <input
                      type="text"
                      class="form-control"
                      name="experience_degree"
                    />
                  </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label>Start Date</label>
                    <input
                      type="date"
                      class="form-control"
                      name="experience_start"
                    />
                  </div>
                <div class="form-group col-md-3">
                    <label>End Date</label>
                    <input
                      type="date"
                      class="form-control"
                      name="experience_end"
                    />
                  </div>
                <div class="form-group col-md-6">
                    <label>City</label>
                    <input
                      type="text"
                      class="form-control"
                      name="experience_city"
                    />
                  </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col2">
                    <label>Description</label>
                    <textarea class="form-control" style="height: 200px!important;"></textarea>
                </div>
                <label>Write 200+ characters to increase your chances.</label>
            </div>
        </div>

      <!-- EDUCATION -->

      </div>

      <div class="col half">
        <div class="right_side">
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <!-- TEXT EDITOR JS -->
    <script src="{% static 'cvapp/create_cv.js' %}"></script>
  </body>
</html>
