{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title>Document</title>

      <link rel="stylesheet" href="{% static 'cvapp/styles/site.css' %}" />

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>

  <body>
    <div class="main">
      <div class="col left-container">
        <form class="information-user" onsubmit="onSubmit(event)">
          <div class="left_side">

            <!-- USER INFORMATION -->
            <div class="section">

              <div class="row">
                <div class="form-group">
                  <label>Wanted Job Title</label>
                  <input
                    type="text"
                    class="form-control"
                    name="job_title"
                    placeholder="e.g. Developer"
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="first_name"
                  />
                </div>

                <div class="form-group">
                  <label>Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="last_name"
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                  />
                </div>

                <div class="form-group">
                  <label>Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    name="phone"
                  />
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label>Country</label>
                  <input
                    type="text"
                    class="form-control"
                    name="country"
                  />
                </div>

                <div class="form-group col-md-6">
                  <label>City</label>
                  <input
                    type="text"
                    class="form-control"
                    name="city"
                  />
                </div>

              </div>

              <div class="row">
                <div class="form-group">
                  <label>Address</label>
                  <input
                    type="text"
                    class="form-control"
                    name="address"
                  />
                </div>

                <div class="form-group">
                  <label>Driving License</label>
                  <input
                    type="text"
                    class="form-control"
                    name="driving_license"
                  />
                </div>
              </div>
            </div>

              <!-- PROFESSIONAL SUMMARY -->
            <div class="section">
              <h3>Professional Summary</h3>
              <label class="summary-help">Write short sentences to make reader interested. Mention your experience, biggest achievements, qualities and skills.</label>

              <div class="row main-text">
                <div class="col1">
                    <div class="second box">
                      <button class="summary-button" type="button"
                        onclick="f2(this)">
                        <i class="fa-solid fa-bold"></i>
                      </button>

                      <button class="summary-button" type="button" onclick="f3(this)">
                        <i class="fa-solid fa-italic"></i>
                      </button>
                      
                      <button class="summary-button" type="button" onclick="f4(this)">
                      <i class="fa-solid fa-underline"></i>
                    </button>
                    </div>

                    <div class="fourth box">
                      <button class="summary-button" type="button" onclick="f8(this)">
                        aA
                      </button>
                      <input type="color" onchange="f10(this)">
                    </div>
                </div>
                <br>

                <div class="col2">
                  <textarea id="textarea" placeholder="Your text here"></textarea>
                </div>
                
              </div>
              <label>Write to 250 characters max.</label>

            </div>

            <!-- EXPERIENCE -->
            <div class="section">

              <h3>Experience</h3>
                <label class="summary-help">Add your past experience so it can add value to your resume.</label>

                <div>
                  <i class="fa-solid fa-plus" onclick="ExperienceBox(event)"></i>
                </div>           
            </div>

            <!-- EDUCATION -->
            <div class="section">
              <h3>Education</h3>
              <label class="summary-help">Add your education if any.</label>
              
              <div>
                  <i class="fa-solid fa-plus" onclick="EducationBox(event)"></i>
                </div>    
            </div>
              
            <!-- SKILLS -->
            <div class="section">
              <h3>Skills</h3>
              <label style="margin-bottom: 15px">Choose a few important skills that you think are important for the Employer.</label>
              <br>
                <div>
                  <i class="fa-solid fa-plus" onclick="SkillsBox(event)"></i>
                </div>

                <div class="skills-container">
                    
                </div>

            </div>
          </div>
              
          <input type="submit" class="form-group btn-submit" value="Submit" />
        </form>
      </div>

      <div class="col right">
        <div class="right-side">
        </div>
      </div>
    </div>

    <!-- TEXT EDITOR JS -->
    <script src="{% static 'cvapp/summary_box.js' %}"></script>
    <script src="{% static 'cvapp/functionality.js' %}"></script>

    <!-- COMPONENTS -->
    <script src="{% static 'cvapp/components/ExperienceForm.js' %}"></script>
    <script src="{% static 'cvapp/components/EducationForm.js' %}"></script>
    <script src="{% static 'cvapp/components/SkillsBox.js' %}"></script>
    <script src="{% static 'cvapp/components/ExperienceBox.js' %}"></script>
    <script src="{% static 'cvapp/components/EducationBox.js' %}"></script>

  </body>
</html>
