* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-group {
  margin-bottom: 25px;
}

label {
  color: rgba(104, 104, 104, 0.781);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 6px;
}

.col {
  margin-left: 30px;
  margin-top: 100px;
}

.box {
  display: inline-block !important;
  padding: 0 5px;
}

.first {
  border-right: 2px solid #40576d33;
}

input[type="number"] {
  outline: none;
  border: none;
  width: 50px;
  color: #131c45;
  font-size: 24px;
  padding: 10px 0px;
}

.second {
  border-right: 2px solid #40576d33;
}

.third {
  border-right: 2px solid #40576d33;
}

button {
  border: none;
  color: #131c35;
  font-size: 20px;
  font-size: 20px;
  font-weight: 300;
  background: transparent;
  padding: 10px 16px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background: #40576d1a;
}

.summary-button:focus {
  background: #73b1e333;
  color: #5271ff;
}

.summary-button.active {
  background: #73b1e333;
  color: #5271ff;
}

.third button:focus {
  background: #73b1e333;
  color: #5271ff;
}

input[type="color"] {
  width: 35px;
  outline: none;
  border: none;
  background: none;
}

.col1 {
  margin-top: 10px;
}

.col2 {
  margin-top: 10px;
  padding-bottom: 5px;
}

.section {
  margin-top: 50px;
  width: 100%;
}

textarea {
  width: 100%;
  height: 350px;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: none;
  resize: vertical;
}

.main-text {
  background-color: rgba(228, 228, 228, 0.623);
}

.summary-help {
  margin-bottom: 20px;
}

/* RIGHT SIDE */

.half {
  background-color: rgb(141, 141, 141);
  margin-top: 0;
}

.add-button {
  border: none;
  color: #35888a;
  font-size: 20px;
  font-weight: 400;
  background: transparent;
  padding: 10px 16px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.add-button:hover {
  background-color: #1d2124;
  color: white;
}


.left-container {
  margin-bottom: 100px;
}

.skill-slider {
  color: black;
}

/* Experience Field settings*/

.experience-container {
  margin-left: auto;
  margin-right: auto;
  display: none;
  width: 90%;
}


.education-container {
  display: none;
}

.experience-box {
  border: 1px solid rgba(180, 180, 180, 0.53);
  border-radius: 5px;
  margin-bottom: 10px;
}


.education-box:hover {
  cursor: pointer;
}

.fa-arrow-down-short-wide {
  color: #7d7d7d;
}

.experience-box:hover {
  .profession {
    color: rgba(82, 113, 255, 0.96);
  }

  .fa-arrow-down-short-wide {
    color: rgba(82, 113, 255, 0.96);
  }

}

.section {
  margin-bottom: 15px;
}

.content {
  margin-left: 10px;
  padding: 10px;
}

.profession {
  margin-bottom: 0;
  color: rgba(37, 33, 33, 0.83);
  font-weight: 650;
}

.time-working {
  color: gray;
  font-weight: 500;
}

.fa-arrow-down-short-wide {
  float: right;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 20px;
}


/* Education Field*/

.experience-box:hover {
  cursor: pointer;
}

.education-box {
  border: 1px solid rgba(180, 180, 180, 0.53);
  border-radius: 5px;
  margin-bottom: 10px;
}

.education-container {
  margin-left: auto;
  margin-right: auto;
  display: none;
  width: 90%;
}

.education-container {
  display: none;
}

.education-box:hover {
  .profession {
    color: rgba(82, 113, 255, 0.96);
  }

  .fa-arrow-down-short-wide {
    color: rgba(82, 113, 255, 0.96);
  }

}

.add-skills {
  margin-bottom: 10px;
  color: #981313;
  font-weight: 350;
  text-align: start;
}

.education-type {
  margin-bottom: 0;
  color: rgba(37, 33, 33, 0.83);
  font-weight: 650;
}

.education-box:hover {
  .education-type {
    color: rgba(82, 113, 255, 0.96);
  }

  .fa-arrow-down-short-wide {
    color: rgba(82, 113, 255, 0.96);
  }

}

.study-time {
  color: gray;
  font-weight: 500;
}
